article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
}
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	background: #fff;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	line-height: 18px;
	color: #414E5B;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
body .font, .btn {
	font-family: 'Rubik', sans-serif;
}
::-moz-selection {
background:#162E51;
color:#fff;
}
::selection {
	background: #162E51;
	color: #fff;
}
a {
	color: #333;
	outline: 0;
	transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
	-webkit-transition: all 0.1s linear 0s, letter-spacing 0s linear 0s;
}
a:focus {
	outline: none;
}
a:hover, a:active {
	outline: none;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	background: none;
}
b, strong {
	font-weight: 700;
}
p, pre {
	margin: 0 0 10px;
}
small {
	font-size: 75%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.2em;
}
sub {
	bottom: -0.25em;
}
dl, menu, ol, ul {
	margin: 1em 0;
}
menu, ol, ul {
	padding: 0 0 0 40px;
}
nav ul, nav ol, li {
	list-style: none outside none;
}
img {
	border: 0 none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	-moz-box-sizing: border-box;
	box-shadow: none;
	padding: 0;
	outline: none;
}
input, select, textarea {
	box-shadow: none !important;
	border: none;
}
input:focus, select:focus, textarea:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none!important;
}
input[type="search"] {
	-moz-box-sizing: content-box;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0 none;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
}
* {
	box-sizing: border-box;
}
.transition {
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
/*------------------- S T Y L E ---------------------*/
#loading {
	background: #fff url(../images/loader.svg) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000000;
	left: 0;
	top: 0;
	margin: 0
}
.container {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 98%;
	width: 1600px;
}
.logo {
	transition: all 0.3s linear;
	/*custom css*/
	height: 55px;
}
header {
	background: #162D51;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.01);
	-ms-box-shadow: 0 0 3px rgba(0,0,0,0.01);
	-o-box-shadow: 0 0 3px rgba(0,0,0,0.01);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.01);
	box-shadow: 0 0 3px rgba(0,0,0,0.01);
	position: fixed;
	text-align: center;
	top: 0;
	-moz-transition: top 0.3s ease-in-out 0s;
	-ms-transition: top 0.3s ease-in-out 0s;
	-o-transition: top 0.3s ease-in-out 0s;
	-webkit-transition: top 0.3s ease-in-out 0s;
	transition: top 0.3s ease-in-out 0s;
	width: 100%;
	z-index: 99999;
}
.navbar-site {
	background: #00A0AF;
	background: -webkit-linear-gradient(to right, rgba(0, 160, 175, 1) 20%, rgba(99, 107, 138) 100%);
	/*background: linear-gradient(to left, rgba(0, 160, 175, 1) 20%, rgba(99, 107, 138) 100%);*/
	background: linear-gradient(to left, rgba(103, 171, 118) 20%, #e884a9 100%);
	border: none;
	margin: 0;
	min-height: 80px;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.tiny {
	background: #fff;
}
.navbar-site .navbar-brand {
	padding: 8px 15px;
}
.navbar-site .custom-nav ul {
	margin: 10px 0 5px;
}
.navbar-site .custom-nav ul li {
	margin-left: 10px;
	padding: 0 10px;
}
.navbar-site .custom-nav ul li a {
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	letter-spacing: 0.75px;
	color: #fff;
	padding: 8px 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}
.tiny .custom-nav ul li a {
	color: #162d51;
}
.navbar-site .custom-nav ul li a:hover, .navbar-site .custom-nav ul li.active a, .navbar-site .custom-nav ul li a:focus {
	color: #FFC453;
}
.navbar-site .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-site .custom-nav ul li.active a, .navbar-site .custom-nav ul li.active a:hover {
	background: none;
}
.custom-nav .navbar {
	width: 100%;
	padding: 0;
}
.custom-nav .navbar-nav > li {
	display: inline-block;
	float: none;
}
.custom-nav .navbar-nav > li > a {
	padding-left: 30px;
	padding-right: 30px;
}
.banner {
	position: relative;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	display: table;
	height: calc(100vh - 80px);
	overflow: hidden;
}
.banner-content {
	/* background: -webkit-linear-gradient(135deg, rgba(63, 83, 164, 0.75) 0%, rgba(0, 160, 175, 0.60) 100%);
	background: linear-gradient(135deg, rgba(0, 160, 175, 0.60) 0%, rgba(63, 83, 164, 0.75) 100%); */
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%;
	color: #fff;
}
.banner-content h3, .banner-content h2 {
	letter-spacing: 0.5px;
	font-weight: 500;
	margin: 0;
	line-height: normal;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.banner-content h2 {
	font-size: 36px;
}
.banner-content p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 24px;
	margin: 0 auto 0;
	width: 40%;
}
.about-content {
	background: url("../images/pattern-bg.jpg") no-repeat fixed 0 0;
	height: calc( 50vh - 40px );
	-webkit-background-size: cover;
	background-size: cover;
	display: table;
}
.about-content-inner {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
}
.about-content .home-heading {
	font-size: 24px;
	margin: 0;
	padding-bottom: 40px;
	color: #fff;
}
.about-content p, .companies-content p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 20px;
	font-weight: 300;
	margin: 0 0 15px;
}
.about-content a, .feature-content .btn-read, .box-content .btn-read {
	background: none;
	border: 2px solid #26395A;
	color: #26395A;
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 8px 20px;
	text-transform: uppercase;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	line-height: normal;
}
.about-content a:hover {
	background: #fff;
	color: #0F9EB1;
}
.companies-content {
	background: url(../images/pattern-bg.jpg) no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background: -webkit-linear-gradient(135deg, rgba(63, 83, 164, 0.85) 0%, rgba(0, 160, 175, 0.80) 100%);
	background: linear-gradient(135deg, rgba(0, 160, 175, 0.80) 0%, rgba(63, 83, 164, 0.85) 100%);
}
.companies-content .about-content-inner {
	background: -webkit-linear-gradient(135deg, rgba(63, 83, 164, 0.85) 0%, rgba(0, 160, 175, 0.80) 100%);
	background: linear-gradient(135deg, rgba(0, 160, 175, 0.80) 0%, rgba(63, 83, 164, 0.85) 100%);
/
}
.companies-content a, .about-content a {
	border: 2px solid #fff;
	color: #fff;
}
.feature-services {
	background: #001A33;
}
.no-gutter > [class*="col-"] {
	padding-left: 0;
	padding-right: 0;
}

@media all and (min-width:992px) {
.col-20 {
	width: 20%;
}
}
.feature-services .feature-box {
	height: 300px;
	display: table;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.feature-services .box-content {
	background: rgba(22, 45, 81, 0.67);
	background: -webkit-linear-gradient(135deg, rgba(63, 83, 164, 0.85) 0%, rgba(0, 160, 175, 0.80) 100%);
	background: linear-gradient(135deg, rgba(0, 160, 175, 0.80) 0%, rgba(63, 83, 164, 0.85) 100%);
	display: table-cell;
	padding: 0 25px;
	vertical-align: middle;
}
.feature-services .box-content h3 {
	font-size: 20px;
	color: #fff;
	letter-spacing: 0.65px;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.feature-services .box-content p {
	color: #fff;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: normal;
	font-size: 13px;
}
.home-heading {
	background: rgba(0, 0, 0, 0) url("../images/bullet.svg") no-repeat scroll center bottom;
	color: #162d51;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: normal;
	margin: 30px 0;
	padding-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
}
.home-industries::after {
	background: url('../images/flowral.png') no-repeat right bottom;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	opacity: 0.5;
}
.home-industries {
	padding: 50px 0 70px;
	background: #F7F7EF;
	position: relative;
	z-index: 1;
}
.home-industries .owl-item img {
	width: auto;
	margin: 0 auto;
}
.home-industries-content {
	padding: 0 40px;
}
.home-industries-content p, .feature-content p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.45px;
	line-height: 26px;
	margin: 20px 0;
}
.home-industries-content p {
	color: #3f4e79;
	font-weight: 300;
}
.home-industries-content h4, .feature-content h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin: 0 0 20px;
}
.home-industries-content h4 {
	color: #3f4e79;
}
.home-industries .home-heading {
	color: #3f4e79;
	font-size: 22px;
}
.industries-carousel .owl-nav [class*="owl-"] {
	background: none;
	border: 2px solid #3f4e79;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #3f4e79;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.25px;
	padding: 8px 15px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.industries-carousel .owl-nav [class*="owl-"]:hover {
	background: #3f4e79 none repeat scroll 0 0;
	border: 2px solid #3f4e79;
	color: #fff;
}
.feature-content::after {
	background: rgba(22, 45, 81, 0.67) none repeat scroll 0 0;
	background: -webkit-linear-gradient(135deg, rgba(63, 83, 164, 0.80) 0%, rgba(0, 160, 175, 0.80) 100%);
	background: linear-gradient(135deg, rgba(0, 160, 175, 0.80) 0%, rgba(63, 83, 164, 0.80) 100%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.inner-banner-content {
	background-attachment: fixed;
}
.feature-content {
	padding: 100px 30px;
	min-height: 400px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.feature-content h3 {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
}
.feature-content .btn-read, .box-content .btn-read {
	border: 2px solid #fff;
	color: #fff;
	margin: 15px 0 0;
}
.feature-content .btn-read:hover, .box-content .btn-read:hover {
	border: 2px solid #FFC453;
	background: #FFC453;
	color: #fff;
}
.client-section {
	background: #fff;
	padding: 50px 0;
}
.client-section .heading, .at-glance h1, .intro-txt h1 {
	background-image: linear-gradient(to right, rgb(0, 160, 175) 45%, rgb(63, 83, 164) 55%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-moz-text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-o-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: normal;
	margin: 30px 0;
	text-align: center;
	text-transform: uppercase;

}
#map {
	width: 100%;
	height:500px;
}
#map span, #map div a, .gm-style-cc {
	display: none !important;
}
.gm-style div {
	box-shadow: none !important;
}
.gm-style img {
	cursor: pointer;
}
#map p, #map {
	margin: 0;
	text-align: center;
}
#map b {
	color: #333;
}
footer {
	background: rgb(103, 171, 118) url("../images/footer-bg.png") no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}
footer .container {
	padding: 40px 15px;
}
.btm-footer {
	border-top: 1px solid rgba(255, 255, 255, 0.114);
}
.btm-footer p {
	margin: 0;
	letter-spacing: 0.5px;
	color: #fff;
	font-weight: 300;
}
.btm-footer p.pull-right {
	font-size: 12px;
}
.btm-footer p a {
	color: #fff;
}
.footer-nav ul li {
	margin-right: 15px;
}
.footer-nav ul li a {
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.35px;
	font-weight: 400;
}
.footer-nav ul li a:hover {
	color: #FFCC66;
}
/*---------- A B O U T ---------*/
.about, .director-msg {
	background: #f7f7ef url(../images/about-stripe.jpg) repeat left center;
	height: auto;
	padding: 100px 0;
	width: 100%;
}
.about-inner-content h2::first-letter {
	background:#3f4e79;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	margin-right: 5px;
	padding: 5px 10px;
}
.about-inner-content h2, .msg-content h2, .service-content h2, .service-box h2, .job-content h4, .news-content h3, .news-content h3 a, .bio h2,
.csr-list h4 {
	color: #162d51;
	font-size: 24px;
	letter-spacing: 0.5px;
	margin: 0 0 20px;
	position: relative;
	font-weight: 500;
	z-index: 1;
}
.about-inner-content p, .msg-content p, .service-content p, .service-box p, .overview-content p, .contact-info ul li, .intro-txt p, .job-content p, .deadline-date, .news-content p, .news-content ul li, .news-content ol li, .bio p, .bio span,
.award-intro,.csr-list p {
	color: #3f4e79;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.45px;
	line-height: 22px;
	margin-bottom: 20px;
}
.about-inner-content a, .service-box .read-more, .news-content .read-more {
	background: #3f4e79 none repeat scroll 0 0;
	color: #ffca1a;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 20px 30px;
	text-transform: uppercase;
}
.about-inner-content a:hover, .service-box .read-more:hover, .news-content .read-more:hover {
	background:#1193A3;
	color: #fff;
}
.director-msg {
	background: rgba(0, 0, 0, 0) url("../images/pattern-bg.jpg") no-repeat scroll center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.msg-content {
	border: 2px solid #FFCA1A;
	padding: 70px;
}
.msg-content h2, .msg-content p {
	color: #fff;
}
.director-img {
	background: #fff none repeat scroll 0 0;
	-webkit-box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.08);
	box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.08);
	padding: 70px 0;
	position: relative;
	text-align: center;
	-webkit-transform: translate(70px, -50px);
	transform: translate(70px, -50px);
	z-index: 1;
}
.director-img img {
	margin: 0 auto;
}
.director-modal {
	z-index: 99999;
}
.director-modal .modal-body {
	padding: 25px;
}
.director-modal .modal-content {
	border: medium none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.director-modal .modal-dialog {
	width: 950px;
}
.director-modal .close {
	color: #f30;
	opacity: 1;
	position: absolute;
	right: 15px;
	z-index: 9;
}
.bio h2 {
	margin: 0 0 5px;
}
.bio span {
	display: block;
	font-style: italic;
	margin-bottom: 30px;
}
.mission::after {
	background: linear-gradient(to right, rgba(29, 32, 40, 0.95) 10%, rgba(29, 32, 40, 0) 100%) repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.mission {
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	color: #fff;
	position: relative;
	z-index: 1;
}
.mission-content {
	padding: 50px 0;
}
.mission-content h2, .mission-content p {
	letter-spacing: 0.35px;
}
.mission-content p {
	font-size: 16px;
	line-height: 22px;
}
.team {
	background: #fefef6 none repeat scroll 0 0;
	padding: 70px 0;
}
.team-parents {
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: -webkit-flex-start;
	justify-content: flex-start;
	margin: 0 -1rem;
	width: 100%;
}
.team-parents .team-member:first-child {
    cursor: pointer;
    flex-basis: 100%;
    text-align: center;
    width: 100%;
}
.team-member {
	width: 20%;
	float: left;
	flex-basis: 20%;
	flex-shrink: 0;
	line-height: 24px;
	padding: 1rem;
}

.member-name, .member-title {
	letter-spacing: 0.25px;
	color: #3f4e79
}
.member-name {
	font-size: 14px;
	margin: 10px 0 0;
}
.member-title {
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 19px;
}
.team-member img {
	-webkit-box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.2);
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	height: 170px;
    width: 160px;
}
.team-member:hover img {
	-webkit-transform: scale(1.112);
	transform: scale(1.112);
	-webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
}
.clients {
	padding: 50px 0;
	background: #F7F7EF;
}
.achievement{
    margin:30px 0;
    position: relative;
    background: url(../images/bg-awards.html) repeat-y top center;
}
.achiev-year{
	margin-bottom: 30px;
}

.year {
    color: #3f4e79;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 14px 0 0;
    position: relative;
    text-align: center;
}
.year::before,.achievement::after {
    background-color: #00a0af;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 0;
    transition: all 0.3s linear 0s;
    width: 10px;
}
.award-intro {
    margin: 0;
    text-align: center;
}
.csr-list h4 {
    font-size: 14px;
    margin: 0;
}
.csr-list p{
	margin: 0 0 15px;
}

/*------ S E R V I C E --------*/

.service {
	background: #f7f7ef;
	height: auto;
	padding: 100px 0;
	width: 100%;
}
.service-content ul {
	display: block;
	padding: 0;
	margin: 0;
}
.service-content ul li::before,.service-box ul li:before {
	color: #b7b9c0;
	content: "0" counter(section, decimal);
	font-size: 16px;
	letter-spacing: 1.25px;
	padding-right: 5px;
}
.service-content ul li,.service-box ul li {
	counter-increment: section;
	display: inline-block;
	padding-right: 20px;
	color: #3f4e79;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.service-inner {
	background: #F5F5F5;
}
.para {
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
	background-position: top center;
}
figure::before {
	background: #F5F5F5;
	position: absolute;
	width: 100%;
	height: 100%;
	content:"";
	left: 0;
	top: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	z-index: 1;
	-webkit-transition: transform 1200ms cubic-bezier(0.865, 0.015, 0.145, 1.000) 0.1s;
	transition: transform 1200ms cubic-bezier(0.865, 0.015, 0.145, 1.000) 0.1s;
}

figure {
	position: relative;
	display: block;
	overflow: hidden;
}
figure.active:before {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.service-inner img {
	width: 480px;
}
.service-box {
	padding: 0 70px;
}
/* ------------- S U S -----------*/
.sustainability-main{
	padding: 0;
}
.sustainability-main .sustainability-content:first-child{
	margin: 40px 0 0;
}
.sustainability-content {
    padding: 30px 0 20px;
}
.sustainability-content ul li,.service-box ul li {
	display: block;
	padding: 8px;
	color: #3f4e79;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.45px;
}
.service-box ul{
	padding:0;
	}
.sustainability-content ul li a, .news-content ul li a,.service-box ul li a {
	font-weight: 400;
	color: #1BBC9B;
	padding-right: 5px;
}
/*-------- C OM P A N I E S ----------*/
.projects {
	padding: 50px 0;
}
.project-list {
	margin-bottom: 30px;
}
.project-list ul li a {
	border-bottom: 2px solid transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.8px;
	padding-bottom: 5px;
}
.project-list ul li a.active {
	border-bottom: 2px solid;
	color: #ffca1a;
}
.project-box::after {
	background: #fff;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.project-box {
	background: #f7f7ef none repeat scroll 0 0;
	-webkit-box-shadow: 10px 10px rgb(0,160,175);
	box-shadow: 10px 10px rgb(0,160,175);
	padding: 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	margin-bottom: 30px;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.project-box:hover {
	-webkit-box-shadow: -10px -10px rgb(0,160,175);
	box-shadow: -10px -10px rgb(0,160,175);
}
.project-box:hover:after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.project-box h4 {
	color: #213755;
	font-weight: 500;
	letter-spacing: 0.35px;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.project-box:hover h4 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.project-box p {
	color: #444;
	letter-spacing: 0.35px;
	-webkit-opacity: 0;
	opacity: 0;
	-webkit-transform: translateX(-10%);
	transform: translateX(-10%);
	-webkit-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	height: 55px;
	overflow: hidden;
}
.project-box .see-more {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.project-box:hover p {
	-webkit-opacity: 1;
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
/*---------- D E T A I L S ------------*/
.at-glance {
	padding: 70px 0;
	background-size: #f2f2f4;
}
.company-content p {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 50px;
	column-gap: 50px;
	text-align: justify;
}
.overview-content .item {
	counter-increment: section;
	display: block;
	overflow: hidden;
	padding: 20px 0;
	position: relative;
}
.overview-content .item::before {
	color: #cbcdd4;
	content: "0" counter(section, decimal);
	font-size: 16px;
	left: 0;
	letter-spacing: 1.25px;
	position: absolute;
	top: 22px;
}
.overview-content h2 {
	color: #000;
	float: left;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.35px;
	margin: 0;
	padding-left: 50px;
	width: 30%;
}
.overview-content p, .overview-content ul {
	float: left;
	margin: 0;
	width: 70%;
}
.overview-content ul li {
	color: #222;
	font-weight: 400;
	letter-spacing: 0.25px;
}
.company-slider {
	padding-bottom: 100px;
}
.company-carousel .owl-nav {
	position: absolute;
	right: 0;
	top: -67px;
	margin: 0;
}
.company-carousel .owl-nav [class*="owl-"] {
	margin: 0;
	padding: 25px;
	background: #3f4e79;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
}
.company-carousel .owl-nav [class*="owl-"]:hover {
	background: #FFC453;
}
/*------- C O N T A C T -------*/
.para-content .container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.para-content h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 10px;
}
.contact {
	padding: 60px 0;
}
.contact-info address {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}
.contact-info h2,.contact-info h4 {
	color: #213755;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin: 0;
}
.contact-info h4 {
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}
.contact-info ul {
	margin: 5px 0 25px;
	padding: 0;
}
.contact-info ul li {
	margin-bottom: 0;
}
.contact-info ul li a {
	color: #3f4e79;
	font-weight: 400;
}
.contact-form .form-control {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #3f4e79;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3f4e79;
	height: auto;
	padding: 12px 15px;
	resize: none;
}
.contact-form .form-control:focus {
	border: 1px solid #3f4e79 !important;
}
.contact-form .btn {
	background: #3f4e79 none repeat scroll 0 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #ffca1a;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: normal;
	padding: 20px 40px;
	text-transform: uppercase;
}
/*----------- C A R E E R --------------*/
.career {
	padding: 70px 0;
}
.intro-txt {
	margin: 0 0 50px;
}
.joblist ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.joblist ul li {
	float: left;
	width: 49%;
	margin: 0 0.5% 15px;
}
.joblist ul li a {
	background: #00A0AF;
	background: -webkit-linear-gradient(to right, rgba(0, 160, 175, 1) 20%, rgba(63, 83, 164, 1) 100%);
	background: linear-gradient(to right, rgba(0, 160, 175, 1) 20%, rgba(63, 83, 164, 1) 100%);
	color: #fff;
	display: block;
	letter-spacing: 0.25px;
	padding: 15px;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.joblist ul li a:hover, .joblist ul li a.active {
	background: -webkit-linear-gradient(to right, rgba(63, 83, 164, 1) 20%, rgba(0, 160, 175, 1) 100%);
	background: linear-gradient(to right, rgba(63, 83, 164, 1) 20%, rgba(0, 160, 175, 1) 100%);
	color: #ffca1a;
}
.joblist ul li a .job-title {
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 5px;
}
.joblist ul li a .details-desc {
	font-weight: 300;
	margin: 0;
}
.job-content {
	padding: 50px;
	background: #F7F7EF;
}
.career label, .job-content p a {
	font-weight: 500;
	color: #3f4e79;
}
.deadline-date {
	display: block;
	font-style: italic;
}
/*------------- P R O D U C T ---------------*/
.product {
	padding: 50px 0;
}
/*-------- N E W S ----------*/
.news {
	padding: 100px 0;
}
.news .breadcrumb {
	padding: 0;
	background: none;
}
.news .breadcrumb li a {
	color: #3f4e79;
	font-size: 14px;
	letter-spacing: 0.45px;
}
.news-box {
	border-bottom: 1px solid #3f4e79;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.news-img {
	margin-bottom: 30px;
}
.news-img img {
	width: 100%;
}
.news-content {
	padding-left: 100px;
	position: relative;
}
.date {
	position: absolute;
	left: 0;
	top: 0;
	background: -webkit-linear-gradient(to top, rgba(0, 160, 175, 1) 20%, rgba(63, 83, 164, 1) 100%);
	background: linear-gradient(to top, rgba(0, 160, 175, 1) 20%, rgba(63, 83, 164, 1) 100%);
	width: 70px;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}
.date strong {
	display: block;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}
.date span {
	display: block;
	font-size: 18px;
	margin: 0;
}
.news-content .read-more {
	background: none;
	border: none;
	color: #3f4e79;
	padding: 0;
}
.news-content .read-more:hover {
	background: none;
	border: none;
	padding: 0;
}
.news-content ul, .news-content ol {
	padding: 0;
}
.news-content p a {
	color: #1bbc9b;
	font-weight: 400;
}
.news-pagination {
	margin-bottom: 30px;
}
.news-pagination ul li a {
	border: 2px solid #3f4e79;
	border-radius: 50%;
	color: #3f4e79;
	display: block;
	font-size: 18px;
	height: 40px;
	line-height: 38px;
	width: 40px;
}
.news-pagination ul li a:hover, .news-pagination ul li.active a {
	border: 2px solid #00A0AF;
	color: #00A0AF;
}
.news-content ul li {
	list-style: inside;
}

@media all and (min-width:768px) and (max-width:1024px) {
.footer-nav ul li {
	margin-right: 0;
}
.footer-nav ul li a {
	font-size: 14px;
}
.service-inner img {
	width: 200px;
}
.service-box {
	padding: 0 30px;
}
.para {
	background-attachment: scroll;
	height: 220px;
}
.og-grid li {
	width: 45%;
}
.about-content-inner {
	padding: 20px;
}
.home-heading {
	font-size: 24px;
	margin: 20px 0;
}
.about, .director-msg, .service {
	padding: 40px 0;
}
.director-img {
	padding: 50px 0;
	margin-bottom: 30px;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.msg-content {
	padding: 10px;
}
.service-inner img {
	width: 260px;
}
.at-glance {
	padding: 20px 0;
}
.overview-content h2 {
	width: 40%;
}
.overview-content p, .overview-content ul {
	width: 60%;
}
.company-slider {
	padding-bottom: 30px;
}
.news {
	padding: 50px 0;
}
}

@media all and (max-width:767px) {
.navbar-site .custom-nav ul li {
	display: inline-block;
	margin-left: 0;
	padding: 2px 12px;
	text-align: left;
}
.navbar-site .custom-nav ul li:nth-child(1) {
	display: none;
}
.navbar-site .logo {
	height: 50px;
}
.navbar-site .navbar-brand {
	padding: 15px 15px 0;
}
.navbar-site .custom-nav ul li a {
	text-align: left;
	padding: 5px 0;
}
.navbar-site .navbar-toggle, .custom-nav {
	border: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 15px;
}
.navbar-site .navbar-toggle {
	margin-top: 25px;
}
.navbar-site .navbar-toggle:focus, .navbar-site .navbar-toggle:hover {
	background: none;
}
.navbar-site .navbar-toggle .icon-bar {
	background: #fff;
}
.tiny .navbar-toggle .icon-bar {
	background: -webkit-linear-gradient(to right, rgba(0, 160, 175, 1) 20%, rgba(63, 83, 164, 1) 100%);
	background: linear-gradient(to right, rgba(0, 160, 175, 1) 20%, rgba(63, 83, 164, 1) 100%);
}
.top-nav ul {
	float: none !important;
}
.banner-content {
	padding: 30px 15px;
}
.banner-content h3, .home-training-content h3 a {
	font-size: 16px;
}
.banner-content h2 {
	font-size: 24px;
}
.banner-content p {
	width: 90%;
}
.home-industries-content {
	padding: 0 20px;
}
.team {
	padding: 20px 0;
}
.team-parents {
	margin: 0;
	width: 100%;
}
.team-member {
	flex-basis: 100%;
	text-align: center;
}
.mission-content {
	padding: 20px 0;
}
.mission-content p {
	font-size: 14px;
	line-height: 21px;
}
.msg-content h2 {
	font-size: 16px;
}
.feature-services .feature-box {
	height: 220px;
}
.feature-services .box-content h3 {
	margin-top: 0;
	font-size: 24px;
}
.feature-content {
	min-height: 300px;
	padding: 35px 30px;
}
.client-section .heading {
	margin: 0 0 20px;
	font-size: 24px;
}
.client-section {
	padding: 20px 0;
}
.footer-nav ul {
	text-align: center;
}
.footer-nav ul li {
	margin-right: 0;
	padding: 5px;
}
.footer-nav ul li a {
	font-size: 14px;
}
footer .container {
	padding: 20px 15px;
}
.btm-footer p {
	text-align: center;
	float: none !important;
}
.owl-theme .owl-nav [class*="owl-"] {
	background: #34ace2 none repeat scroll 0 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 2px solid #34ace2;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.35px;
	line-height: normal;
	padding: 6px 12px 5px;
	text-transform: uppercase;
}
.inner-banner {
	background: #0b253e none repeat scroll 0 0;
	padding: 20px 0;
}
.inner-banner-content h3 {
	font-size: 18px;
	-moz-background-size: 114px;
	-ms-background-size: 114px;
	-o-background-size: 114px;
	-webkit-background-size: 114px;
	background-size: 114px;
}
#map {
	height: 250px;
	margin: 30px auto;
	width: 80%;
}
.form-section {
	padding: 40px 0;
}
.inner-banner-content p {
	font-size: 14px;
	font-weight: 300;
}
.column {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	-o-column-count: 1;
	column-count: 1;
	-moz-column-gap: 5px;
	-webkit-column-gap: 5px;
	-o-column-gap: 5px;
	column-gap: 5px;
	margin: 30px 0;
	text-align: left;
}
.service {
	padding: 40px 0;
}
.service-content ul li {
	display: block;
	font-size: 14px;
}
.para {
	background-attachment: scroll;
	background-position: center top;
	background-size: 100% auto;
	height: 150px;
}
.mission {
	background-attachment: scroll;
}
.service-box {
	padding: 0;
}
.service-inner img {
	width: 100%;
	margin-bottom: 15px;
}
.service .media-body {
	width: 100%;
}
.service .media-body, .service .media-left, .service .media-right {
	display: block;
}
.service .media-left, .service .media > .pull-left {
	padding-right: 0;
}
.service .media-right, .service .media > .pull-right {
	padding-left: 0;
}
.project-list ul li a {
	font-size: 14px;
}
.projects, .at-glance {
	padding: 20px 0;
}
.company-content p {
	-webkit-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 0;
	column-gap: 0;
}
.at-glance h1 {
	font-size: 24px;
}
.overview-content h2 {
	margin-bottom: 10px;
	width: 100%;
}
.overview-content p, .overview-content ul {
	float: none;
	width: 100%;
}
.company-carousel .owl-nav {
	top: 0;
}
.company-slider {
	padding-bottom: 30px;
}
.career {
	padding: 30px 0;
}
.intro-txt h1 {
	font-size: 24px;
	margin: 20px 0;
}
.joblist ul li {
	float: none;
	margin: 0 0 15px;
	width: 100%;
}
.home-heading {
	font-size: 24px;
}
.job-content {
	margin-bottom: 20px;
	padding: 20px;
}
.about-inner-content h2, .msg-content h2, .service-content h2, .service-box h2, .job-content h4, .news-content h3,  .news-content h3 a, .bio h2 {
	font-size: 18px;
}
.news {
	padding: 30px 0;
}
.news-content {
	padding-left: 60px;
	position: relative;
}
.date {
	width: 50px;
	padding: 8px 0;
}
.date strong {
	font-size: 18px;
	margin-bottom: 0;
}
.date span {
	font-size: 14px;
}
.news-pagination ul li a {
	height: 34px;
	line-height: 32px;
	width: 34px;
}
.news-details .date {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
.news-details .news-content {
	padding-left: 0;
}
.director-img {
	padding: 50px 0;
	margin-bottom: 30px;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.msg-content {
	padding: 10px;
}
.director-modal .modal-dialog {
    width: 94%;
}
.contact-info address {
    width: 100%;
}
}
